body {
  background-color: rgba(20,20,50,0.9);
  color: white;
  font-family: papyrus;
}

#title, #description {
  text-align: center;
}

form {
  width: 60vw;
  margin: 0 auto;
}

#name-label, #email-label, #dropdown {
  display: block;
}

#name, #email, #number {
  width: 60vw;
  border: none;
  margin: 0.5em 0;
  margin-bottom: 1.5em;
}

#subtext {
  display: inline;
  font-size: 13px;
}

.I {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.II {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.III {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.IV {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

#cannothold {
  display: block;
}

.image {
  display: block;
  margin: 1em 0;
}

textarea {
  width: 60vw;
}

#submit {
  width: 30vw;
  height: 5vh;
  display: block;
  margin: 0 auto;
  margin-bottom: 5em;
}